<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Краснова0</a>
      <a class="nav-item nav-link" [routerLink]="'/note'" routerLinkActive="active">Список заметок</a>
      <a class="nav-item nav-link" [routerLink]="'/add'" routerLinkActive="active">Создать заметку</a>
    </div>
  </div>
</nav>
